{
  "mutex_uuid": "${MUTEX_UUID}",
  "instance_id": "${MUTEX_INSTANCE_ID}",
  "database_id": "${MUTEX_DATABASE_ID}",
  "table_id": "${MUTEX_TABLE_ID}",
  "project_id": "${PROJECT_ID}",
  "mutex_display_name": "test_mutex_not_for_production",
  "mutex_ttl_in_secs": 30,
  "mutex_staleness_in_secs": 300,
  "mutex_wait_time_in_secs": 20,
  "mutex_max_retries": 5
}
